@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: consolas;
    overflow-x: hidden;
}

img {
    image-rendering: pixelated; /* Ważne dla zachowania ostrości */
    image-rendering: crisp-edges; /* Dodatkowa opcja dla wsparcia w niektórych przeglądarkach */
}